<meta name="description" content="{{ description }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="Жжёрмани">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:creator" content="@jarjan">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="https://jjermany.blog/images/jjermany.jpg">
<meta property="og:url" content="https://jjermany.blog/">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://jjermany.blog/images/jjermany.jpg">
<link rel="alternate" type="application/rss+xml" title="RSS Жжёрмани" href="/feed.xml"/>