<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Жжёрмани"/>
<meta name="twitter:creator" content="@jarjan"/>
<meta property="og:url" content="https://jjermany.blog/"/>
<meta property="og:title" content="Жжёрмани"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content='https://jjermany.blog/images/jjermany.jpg'/>