<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }} | Жжёрмани</title>
    <description>{{ description }}</description>
    {% include "social.njk" %}
  </head>
  <body class="container mx-auto lg:max-w-4xl text-gray-700">
    {% include "header.njk" %}
    <div class="mx-4 md:mx-0 leading-relaxed">
      {{ content | safe }}
    </div>
  </body>
</html>