---
layout: default
pageClass: posts
templateEngineOverride: njk, md
---
<section class="pt-4">
  <time value="{{ item.date }}" class="text-gray-600">{{ date | htmlDate }}</time>
  <h1 class="heading">{{ title }}</h1>
  <div class="mb-4 text-lg font-medium">
    {{ content | section | safe }}
  </div>
  <div>
    {{ content | section('remainder') | safe }}
  </div>
  {% include 'about.njk' %}
</section>