<li class="mt-6">
  <h4 class="leading-tight text-2xl font-bold">
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <time value="{{ item.date }}" class="font-light text-sm text-gray-600">{{ item.date | htmlDate }}</time>
  </h4>
</li>