<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="{{ range.Site.Params.keywords }}{{ . }}, {{ end }}" />

<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:image" content="{{ .Site.Params.imageSrc }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description | default .Summary }}|{{ .Site.Params.description }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.imageSrc }}" />
<meta name="twitter:domain" content="{{ .Permalink }}" />
