{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
>
  <h1 id="title" class="f3">
    {{ .Site.Params.TitleEmoji | emojify }}
  </h1>
  <p>{{ .Site.Params.Subtitle }}</p>
  <section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        <!-- prettier-ignore -->
        {{ range .Data.Pages.ByDate.Reverse }}
        <li class="list pl0 lh-copy">
          <a
            class="f3 b dib black no-underline"
            href="{{ .Permalink}}"
            >{{ .Title }}</a
          >
          <span class="f6 gray">{{ .Date.Format "2006-01-02" }}</span>
        </li>
        <!-- prettier-ignore -->
        {{ end }}
      </ul>
    </div>
  </section>

  {{ partial "footer.html" . }}
</body>
