---
title: Жжёрмани
description: Заметки программиста про Берлин и Германию.
layout: default
---

<section>
  <ul class="list-none">
    {%- for item in collections.post | reverse -%}
      {% include 'components/post-teaser.njk' %}
    {%- endfor -%}
  </ul>
  {% include 'about.njk' %}
</section>